<div class="section-body">
  <div class="container-fluid contentHeightShow">
      <div class="panel-heading">
        <div class="textHead"><h2><strong>Student</strong></h2></div>
        <div style="text-align:right">
          <a class="btn btn-primary" [routerLink]='["/AddEditStudent"]'>Add New</a>
        </div>

      </div>
    
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Student Search</div>
              <div class="panel-body">
                <div class="form-horizontal">
                 
                    <div class="col-md-6">
                      <select class="form-control" #SearchCreteria>
                        <option selected="selected" value="">Select</option>
                        <option value="Class">Class</option>
                        <option value="Subject">Subject</option>

                      </select>
                    </div>
                    <div class="col-md-6">
                      <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                          <input type="text" #SearchValue class="form-control" placeholder="Search">
                          <span class="input-group-addon">
                            <button type="submit" (click)="getDetails(SearchCreteria.value,SearchValue.value)">
                              Search
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>

     

      <div class="row">
        <table class="table-responsive" cellpadding="10px">
          <thead>
            <tr>
              <th>Student Id:</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Subject</th>
              <th>Class</th>
              <th>Marks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let char of StudentData">
              <td class="text-center">
                {{char.id}}
              </td>
              <td class="text-center">
                {{char.firstName}}
              </td>
              <td class="text-center">
                {{char.lastName}}
              </td>
              <td class="text-center">
                {{char.subject}}
              </td>
              <td class="text-center">
                {{char.class}}
              </td>
              <td class="text-center">
                {{char.marks}}
              </td>
              <td class="text-center text-nowrap">
               <a class="btn btn-danger" (click)="DeleteStudent(char.id)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

