<div class="jumbotron">
  <form #f="ngForm" (ngSubmit)="Submit(f)">
    <div class="form-group col-md-6">
      <label for="FirstName">First Name:</label>
      <input type="text" name="FirstName" class="form-control" placeholder="First Name" ngModel />
    </div>
    <div class="form-group col-md-6">
      <label for="LastName">Last Name:</label>
      <input type="text" name="LastName" class="form-control" placeholder="Last Name" ngModel />
    </div>
    <div class="form-group col-md-6">
      <label for="Class">Class:</label>
      <input type="text" name="Class" class="form-control" placeholder="Class" ngModel />
    </div>
    <div class="form-group col-md-6">
      <label for="Subject">Subject:</label>
      <select class="form-control" name="Subject" ngModel>
        <!--<option disabled>--Select--</option>-->
        <option *ngFor="let subject of Subjects">{{subject}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Marks">Marks:</label>
      <input type="text" name="Marks" class="form-control" placeholder="Marks" ngModel />
    </div>
    
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-success">Submit</button>
      <a class="btn btn-danger" [routerLink]='["/"]'>Cancel</a>
    </div>

  </form>

</div>
